In [394]:
### Answer Key to questions 1-3

In [2]:
import os
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv("transaction_data.csv")

/Users/amaurya/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
data['date']=data['date'].astype('datetime64[ns]')

#### Q2. a) List the top 5 user_id which had the highest number of CTR filed during in any 7 days window period. (4 points)

In [395]:
# q2_data=data[data['user_id'].isin(data['user_id'].unique()[0:100])].copy()
# full_idx=pd.MultiIndex.from_product([q2_data['user_id'].unique().tolist(),pd.date_range(start=q2_data['date'].min(),end=q2_data['date'].max()).tolist()],names=['user_id','date'])
# q2_data['CTR']=[1 if (x=="Cash" and y>10000) else 0 for (x,y) in zip(q2_data['trx_type'],q2_data['amount'])]
# q2_data.rename(columns={'trx_type':'transaction_type'},inplace=True)
# ## Wrte a function which takes user_data, and returns the CTR_7d.
# full_idx_df=pd.DataFrame(index=full_idx).reset_index()
# full_df=pd.merge(full_idx_df,q2_data[['user_id','date','CTR']],how='left',on=['user_id','date'])
# full_df['CTR']=full_df['CTR'].fillna(value=0)
# full_df.sort_values(['user_id','date'],inplace=True);
# full_df.set_index(['user_id'],inplace=True)
# full_df['ctr_7d']=full_df.rolling(7,min_periods=1)['CTR'].sum()
# top5_user_id_with_highest_ctr_within_7d=full_df[['ctr_7d']].sort_values(['ctr_7d'],ascending=False).index.unique()[0:5].tolist()

##### The query is the following (in python)
full_idx=pd.MultiIndex.from_product([transactions['user_id'].unique().tolist(),pd.date_range(start=transactions['date'].min(),end=transactions['date'].max()).tolist()],names=['user_id','date'])

transactions['CTR']=[1 if (x=="Cash" and y>10000) else 0 for (x,y) in zip(transactions['trx_type'],transactions['amount'])]

##### Wrte a function which takes user_data, and returns the CTR_7d.
full_idx_df=pd.DataFrame(index=full_idx).reset_index()

full_df=pd.merge(full_idx_df,transactions[['user_id','date','CTR']],how='left',on=['user_id','date'])

full_df['CTR']=full_df['CTR'].fillna(value=0)

full_df.sort_values(['user_id','date'],inplace=True);

full_df.set_index(['user_id'],inplace=True)

full_df['ctr_7d']=full_df.rolling(7,min_periods=1)['CTR'].sum()

top5_user_id_with_highest_ctr_within_7d=full_df[['ctr_7d']].sort_values(['ctr_7d'],ascending=False).index.unique()[0:5].tolist()

####  Q2 b) List top 5 user_id which had the largest amount of incoming amount over any 30 day period exceeding $1,000,000? (4 points)

In [396]:
# q2_data=data[data['user_id'].isin(data['user_id'].unique()[0:100])].copy()
# q2_data.rename(columns={'trx_type':'transaction_type'},inplace=True)
# q2_data=q2_data.loc[q2_data['activity_type']=="Incoming"]
# q2_data=q2_data.groupby(['user_id','date'])[['amount']].sum().reset_index()
# full_idx=pd.MultiIndex.from_product([q2_data['user_id'].unique().tolist(),pd.date_range(start=q2_data['date'].min(),end=q2_data['date'].max()).tolist()],names=['user_id','date'])
# full_idx_df=pd.DataFrame(index=full_idx).reset_index()
# full_df=pd.merge(full_idx_df,q2_data[['user_id','date','amount']],how='left',on=['user_id','date'])
# full_df['amount']=full_df['amount'].fillna(value=0)
# full_df.sort_values(['user_id','date'],inplace=True);
# full_df['amount_30d']=full_df.groupby(['user_id'])['amount'].rolling(30,min_periods=1).sum().reset_index()['amount']

# top5_user_id_with_highest_amount_30d=full_df[full_df['amount_30d']>100000].sort_values(['amount_30d'],ascending=False)['user_id'].unique()[0:5]

##### The answer is the following

transactions=transactions.groupby(['user_id','date'])[['amount']].sum().reset_index()

full_idx=pd.MultiIndex.from_product([transactions['user_id'].unique().tolist(),pd.date_range(start=transactions['date'].min(),end=transactions['date'].max()).tolist()],names=['user_id','date'])

full_idx_df=pd.DataFrame(index=full_idx).reset_index()

full_df=pd.merge(full_idx_df,transactions[['user_id','date','amount']],how='left',on=['user_id','date'])

full_df['amount']=full_df['amount'].fillna(value=0)

full_df.sort_values(['user_id','date'],inplace=True);

full_df['amount_30d']=full_df.groupby(['user_id'])['amount'].rolling(30,min_periods=1).sum().reset_index()['amount']

top5_user_id_with_highest_amount_30d=full_df[full_df['amount_30d']>100000].sort_values(['amount_30d'],ascending=False)['user_id'].unique()[0:5]

### Q3

In [341]:
q3_data={'variable':['Male','Account balance','Age','Age_Sq','Invetsor','Works_at_Y','Constant'], 'Coefficient':[2.45, -0.109, -0.0135, 0.0001, 3.21, -5.12, 2.8], 'Standard_Error': [0.12, 0.041, 0.00096, 0.000029, 0.67, 0.399, 0.584]}

In [345]:
q3_df=pd.DataFrame(q3_data)
q3_df.set_index(['variable'],inplace=True)

In [366]:
q3_df['z_score']=q3_df['Coefficient']/q3_df['Standard_Error']

In [368]:
q3_df['z_score']=q3_df['z_score'].map('{:,.2f}'.format).astype('float')

#### 3(a)  For a not ‘Male’ customer, what is the most important features in predicting likelihood of customer doing cryptocurrency transaction? (2 points)

In [389]:
q3_df1=q3_df.reindex(q3_df.z_score.abs().sort_values(ascending=False).index)
q3_df1[~(q3_df1.index.isin(['Male']))].iloc[0:1,]

          Coefficient  Standard_Error  z_score
variable
Age           -0.0135         0.00096   -14.06

In [390]:
## "Age" is the most important variable in predicting the likelihood of doing cryptocurrency.

#### 3(b): How do we interpret the difference in probability using cryptocurrency exchange between users of different ages? (3 points)
###### Age has negative coefficient whereas Age_sq has positive cofficients,users with age approching to 67.5 years, will have chances of doing cryptocurrency decreasing slowly, and after 67.5 years increases slowly.

In [1]:
## Q4.

#### a) How you would determine if an amount is unusual for a bank's user? (2 points)

#### Ans: Since the amounts are typically right skewed for most of the customers, criteria based on standard deviation is not adequate, instead use quartile based outlier detection algorithms. If an amount falls above Q3+3*IQR, that would be considered outlier where Q3 is 3rd qurtile and IQR is interquartile range.

#### b) A relative is defined as someone who shares either same phone number. Find the set of relatives for all user_id’s. (4 points)

In [5]:
data.head()

,user_id,date,trx_type,activity_type,recipient_id,amount,user_phone_number,recipient_phone_number
0,3944089,1971-07-14,ACH,Outgoing,104457,374290.370615,926-650-2871,NaN
1,3944089,1971-01-11,ACH,Incoming,104457,152860.643946,316-166-7770,NaN
2,2267326,1971-02-23,ACH,Incoming,133200,244709.761930,477-672-1931,NaN
3,6136768,1971-02-08,ACH,Outgoing,133209,468009.719276,265-590-9367,NaN
4,4603167,1971-07-30,ACH,Outgoing,160229,242823.941011,306-467-5116,NaN

In [6]:
# expected output, user_id, and relative user_id as list.

In [23]:
tmp=data[['user_id','user_phone_number']].drop_duplicates(subset=['user_id','user_phone_number'])

In [25]:
tmp_rel=tmp.groupby(['user_phone_number'])['user_id'].apply(np.unique)

In [26]:
tmp_rel.head()

user_phone_number
201-143-2235    [1054633, 1124460, 1164341, 1177475, 1417552, ...
201-173-9347    [1021704, 1021996, 1717856, 2204321, 2398885, ...
201-232-6535    [1321241, 2086775, 2248222, 2398547, 3367989, ...
201-244-9605    [1070146, 1126377, 1139889, 1188345, 1625693, ...
201-256-6391    [1512490, 1817337, 2748508, 2822577, 2860149, ...
Name: user_id, dtype: object

#### c) When a transaction happens among relatives, call it circulatory (among relatives) transaction. Create a binary feature if a transaction is circulatory transaction. (1 point)

In [ ]:
## If user_phone number is same as recipient phone number

In [8]:
data=fread("transaction_data.csv")

In [10]:
tmp=unique(data[,.(user_id,user_phone_number)])

In [14]:
rel_set=find_relatives(metadata = tmp)

Warning message:
“package ‘dplyr’ was built under R version 3.4.4”
Attaching package: ‘dplyr’

The following objects are masked from ‘package:data.table’:

    between, first, last

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

Warning message:
“The `printer` argument is soft-deprecated as of rlang 0.3.0.
This warning is displayed once per session.”Warning message:
“package ‘bindrcpp’ was built under R version 3.4.4”

ERROR: Error in library(igraph): there is no package called ‘igraph’

In [13]:
### Code for finding all connected list
### 1. By Phone ### 2. By Address ### Not considering the 3. By different account number of same customer_id and vice versa.

find_relatives=function(metadata)
{
        library(dplyr)
        library(data.table)
        library(Matrix)
        ### 1. By user_phone_number
        user_phone_number_data0=metadata[,.(user_id,user_phone_number)]
        user_phone_number_data0=unique(user_phone_number_data0)
        user_phone_number_data0[,user_phone_number:=gsub("-",replacement = "",user_phone_number)]
        user_phone_number_data0[,user_phone_number_new:=stringr::str_replace_all(user_phone_number,"[^[:digit:]]","")]
        user_phone_number_data0[,len_ph:=nchar(user_phone_number_new)];user_phone_number_data1=unique(user_phone_number_data0[len_ph==10]);
        user_phone_number_data1[,user_phone_number:=as.numeric(user_phone_number_new)]
        user_phone_number_data2=as.data.table(user_phone_number_data1[,.(user_id,user_phone_number)]%>%
        group_by(user_phone_number)%>%
        summarise(rel_ph_custs=list(user_id)))
        user_phone_number_data2[,len_rel_cust:=length(unlist(rel_ph_custs)),by=user_phone_number]
        user_phone_number_data3=user_phone_number_data2[len_rel_cust>1]
        rel_ph_custs=user_phone_number_data3;    

        all_cust_list0=unique(rel_ph_custs$rel_ph_custs)
        
        i = rep(1:length(all_cust_list0), lengths(all_cust_list0)) 
        j = factor(unlist(all_cust_list0))
        tab = sparseMatrix(i = i, j = as.integer(j), x = TRUE, dimnames = list(NULL, levels(j)))
        connects = tcrossprod(tab, boolArith = TRUE)
        suppressMessages(library(igraph));
        group = clusters(graph_from_adjacency_matrix(as(connects, "lsCMatrix")))$membership
        all_conn_list1=tapply(all_cust_list0, group, function(x) sort(unique(unlist(x))))

        # make a data.frame where 1st column is the user_id and 2nd columns is the list of related user_ids
        c_id0=lapply(all_conn_list1,'[[',1);
        r_list0=lapply(all_conn_list1, function(x) unlist(x)[-1]);

        all_conn_cust_df0=data.table(user_id=c_id0)
        all_conn_cust_df1=data.table(rel_cust_ids=r_list0)
        all_conn_cust_df2=as.data.table(cbind.data.frame(all_conn_cust_df0,all_conn_cust_df1))
        return(all_conn_cust_df2)
        }